* {
  box-sizing: border-box;
}

:root {
  --grid-bg-color: #171717;
  --main-border-style: 1px solid grey;
  --grid-border-style: 0.5px solid grey;
  --game-elemnt-bg-color: white; 

}

html {
  height: 100vh;
  max-width: 100vw;
}

body {
  font-family: 'Bungee Outline', sans-serif;
  margin: 0;
    background-image: url(../images/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

h2, h3, button, span {
  font-family: 'Bungee Outline', sans-serif;
  color: #fff;
  font-size: 1.5em;
  text-shadow:
      0 0 3px #fff,
      0 0 5px #fff,
      0 0 7px #fff;
}

h1 {
  font-size: 6em;
  text-shadow:
  0 0 5px #fff,
  0 0 8px #fff,
  0 0 11px #fff,
  0 0 32px #4FAEEB,
  0 0 52px #4FAEEB,
  0 0 72px #4FAEEB,
  0 0 92px #4FAEEB,
  0 0 112px #4FAEEB;
}

#game-over {
  font-size: 4em;
  text-shadow:
  0 0 5px #fff,
  0 0 8px #fff,
  0 0 11px #fff,
  0 0 32px #ff1177,
  0 0 52px #ff1177,
  0 0 72px #ff1177,
  0 0 92px #ff1177,
  0 0 112px #ff1177;
}

#paused-message {
  font-size: 4em;
  text-shadow:
  0 0 5px #fff,
  0 0 8px #fff,
  0 0 11px #fff,
  0 0 32px #69349B,
  0 0 52px #69349B,
  0 0 72px #69349B,
  0 0 92px #69349B,
  0 0 112px #69349B;
}

#controls {
  font-size: 4em;
  text-shadow:
  0 0 5px #fff,
  0 0 8px #fff,
  0 0 11px #fff,
  0 0 32px #081F5C,
  0 0 52px #081F5C,
  0 0 72px #081F5C,
  0 0 92px #081F5C,
  0 0 112px #081F5C;
}

#start, #pause {
  margin-bottom: 40px;
}

h3 {
  width: 125px;
  margin: 20px auto;
}
p {
  max-width: 125px;
}

span, #enter-name {
  font-family: 'Bungee Hairline', sans-serif;
}
.container {
  background-color: rgba( 33, 33, 33, 80%);
  height: 675px;
  width: 900px;
  margin: 75px auto;
  display: flex;
  justify-content: space-around;
  border: var(--main-border-style);
  border-radius: 8px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;;
}

.left > div:first-child {
  margin-top: 20px;
  border: var(--main-border-style);
  border-radius: 8px;
  background-color: rgba( 33, 33, 33, 100%);
}

.scoreboard {
  display: flex;
  flex-direction: column;
}

.scoreboard > div {
  display: flex;
  flex-direction: column;
  border: var(--main-border-style);
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: rgba( 33, 33, 33, 100%);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 350px;
  align-items: center;
  margin: 0 100px;
}

.start-screen > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  text-align: center;
}

input[type=text] {
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: 'Bungee Hairline', sans-serif;
  color: #171717;
  text-align: center;
  font-size: 1.25em;
  width: 50%;

}

.grid-container {
  border: var(--main-border-style);
  display: flex;
  flex-wrap: wrap;
  width: 302px;
  background-color: var(--grid-bg-color);

}

.grid-cell {
  width: 30px;
  height: 30px;
  border: var(--grid-border-style);
}

.pause-screen, .start-screen, .end-screen, .info-screen{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.right > div:first-child{
  border: var(--main-border-style);
  border-radius: 8px;
  background-color: rgba( 33, 33, 33, 100%);
}

.next-grid-container {
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  width: 122px;
  margin: 0 20px 20px 20px;
}

.next-grid-cell {
  height: 30px;
  width: 30px;
}

.right > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right > div:first-child {
  margin-top: 20px;
}

.controls-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

#info-text {
  font-family: 'Bungee Hairline', sans-serif;
  text-align: left;
}

table {
  margin-bottom: 40px;
}

td {
  font-size: 2em;
}

tr > td:nth-child(2) {
  padding-left: 40px;
}

#close-info {
  margin: 20px auto;
}

i {
  text-shadow: none;
  font-size: 1.5em;
}

.final-score-div {
  border: var(--main-border-style);
  border-radius: 8px;
  margin-bottom: 60px;
  text-align: center;
  width: 175px;
  background-color: rgba( 33, 33, 33, 100%);
}

.final-score-span {
  padding: 16px 0;
}

#new-high-score {
  font-size: 1.5em;
}

button {
    display: block;
    width: 125px;
    font-family: 'Bungee Outline', sans-serif;
    font-size: 1.25em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: #222222;
    border-radius: 0px;
    box-shadow: none;
    border: var(--main-border-style);
    border-radius: 8px;
    padding: 30px 0px;
    box-shadow: 0px 8px 15px white;
}

#play-again {
  margin: 20px auto;
}
.occupied {
  border: 1px solid white;
  box-shadow: 0px 0px 5px 2px #fff;
}

.i {
  background-color: #4FAEEB ;

}

.j {
  background-color: #081F5C ;
}

.l {
  background-color: #F6C343;
}

.o {
  background-color: #FEFF55;
}

.s {
  background-color: #A0CF64;
}

.t {
  background-color: #69349B;
}

.z {
  background-color: #ff1177;
}

.display-none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.disabled {
  text-shadow: none;
  color: #737373;
  box-shadow: none;
}