* {
  box-sizing: border-box;
}

:root {
  --grid-bg-color: black;
  --main-border-style: 1px solid black;
  --grid-border-style: 1px solid grey;
  --game-elemnt-bg-color: white; 

}

body {
  height: 100vh;
  margin: 0;
}

.container {
  height: 100vh;
  width: 675px;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
  border: var(--main-border-style);
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left > div {
  border: var(--main-border-style);
}

.scoreboard {
  display: flex;
  flex-direction: column;
}

.scoreboard > div {
  display: flex;
  flex-direction: column;
  border: var(--main-border-style);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 375px;
  align-items: center;
}

.start-screen > div {
  display: flex;
  flex-direction: column;
}

.grid-container {
  border: var(--main-border-style);
  display: flex;
  flex-wrap: wrap;
  width: 302px;
  background-color: var(--grid-bg-color);

}

.grid-cell {
  width: 30px;
  height: 30px;
  border: var(--grid-border-style);
}

.pause-screen, .start-screen, .end-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right > div:first-child{
  border: var(--main-border-style);
}

.next-grid-container {
  border: var(--main-border-style);
}

.right > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
    display: block;
    font: inherit;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: var(--game-elemnt-bg-color);
    border-radius: 0px;
    box-shadow: none;
    border: var(--main-border-style);
}

.occupied {
  border: 2px solid white;
}

.i {
  background-color: #4FAEEB ;
}

.j {
  background-color: #081F5C ;
}

.l {
  background-color: #F6C343;
}

.o {
  background-color: #FEFF55;
}

.s {
  background-color: #A0CF64;
}

.t {
  background-color: #69349B;
}

.z {
  background-color: #EA3423;
}

.display-none {
  display: none;
}

.hidden {
  visibility: hidden;
}