* {
  box-sizing: border-box;
}

:root {
  --grid-bg-color: black;
  --main-border-style: 1px solid #2B2B2B;
  --grid-border-style: 0.5px solid grey;
  --game-elemnt-bg-color: white; 

}

body {
  height: 100vh;
  margin: 0;
  background-color: #222222;
  background: repeating-linear-gradient(
      45deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%
    )
    0 / 15px 15px;
    color: white;
    text-align: center;
}

h1, h2, h3, button, span {
  font-family: 'Bungee Outline', sans-serif;
  color: #fff;
  font-size: 1.25em;
  text-shadow:
      0 0 5px #fff,
      0 0 8px #fff,
      0 0 11px #fff,
      /* 0 0 32px #0fa,
      0 0 52px #0fa,
      0 0 72px #0fa,
      0 0 92px #0fa,
      0 0 112px #0fa; */
}
h1, #game-over {
  font-size: 5em;
  text-shadow:
  0 0 5px #fff,
  0 0 8px #fff,
  0 0 11px #fff,
  0 0 32px #0fa,
  0 0 52px #0fa,
  0 0 72px #0fa,
  0 0 92px #0fa,
  0 0 112px #0fa;
}

h3 {
  width: 125px;
}

span, #enter-name {
  font-family: 'Bungee Hairline', sans-serif;
}
.container {
  background-color: #222222;
  height: 100vh;
  width: 675px;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
  border: var(--main-border-style);
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;;
}

.left > div {
  border: var(--main-border-style);
}

.scoreboard {
  display: flex;
  flex-direction: column;
}

.scoreboard > div {
  display: flex;
  flex-direction: column;
  border: var(--main-border-style);
  margin-bottom: 40px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 375px;
  align-items: center;
}

.start-screen > div {
  display: flex;
  flex-direction: column;
}

.grid-container {
  border: var(--main-border-style);
  display: flex;
  flex-wrap: wrap;
  width: 302px;
  background-color: var(--grid-bg-color);

}

.grid-cell {
  width: 30px;
  height: 30px;
  border: var(--grid-border-style);
}

.pause-screen, .start-screen, .end-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}
.right > div:first-child{
  border: var(--main-border-style);
}

.next-grid-container {
  border: var(--main-border-style);
}

.right > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
    display: block;
    width: 125px;
    font-family: 'Bungee Outline', sans-serif;
    font-size: 1.25em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: #222222;
    border-radius: 0px;
    box-shadow: none;
    border: var(--main-border-style);
    padding: 30px 0px;
}

.occupied {
  border: 1px solid white;
  box-shadow: 0px 0px 5px 2px #fff;
}

.i {
  background-color: #4FAEEB ;

}

.j {
  background-color: #081F5C ;
}

.l {
  background-color: #F6C343;
}

.o {
  background-color: #FEFF55;
}

.s {
  background-color: #A0CF64;
}

.t {
  background-color: #69349B;
}

.z {
  background-color: #ff1177;
}

.display-none {
  display: none;
}

.hidden {
  visibility: hidden;
}